/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $dark-blue;
	color: #fff;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color .3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $blue;
	border-color: $darkest-blue;
}

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

div.thumbnail {
	height: 100px;
}

div.thumbnail img {
	object-fit: cover;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

.hidden {
	display: none;
}

.input-container {
	display: flex;
}

.input-container input {
	flex: 1;
	border: 1px solid $gray;
	padding: 0 5px;
}
